{% extends 'base_lk.html' %}
{% load staticfiles %}
{% load i18n %}

{% block lk %}

    <!--datetimepicker-->
<p><a href="{% url 'roles' %}"><font color="green">Права пользователей</font></a></p>
<!-- Выставление задачи -->
<p>Поставить задачу</p>
<form action="{% url 'lk_task' %}" enctype="multipart/form-data" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    {% comment %}<p><input type="number" name="id_task"></input></p>{% endcomment %}
    <p><input type="text" name="title_task" maxlength="30"></input>название</p>
    <p><textarea type="text" name="desk_task" maxlength="300" cols="31" rows="5"></textarea>Подробно</p>
      <p><select type="number" name="role" required>
      <option disabled selected value="" >Выберите </option>
          {% for task_list_users_s in task_list_users %}
                    <option value="{{ task_list_users_s.1 }}">{{ task_list_users_s.0 }}</option>
    {% endfor %} </select></p>
    <input type="date" name="task_date">

    <input value="Выставить задачу" type="submit" >
<!-- Загрузить текстовый файл -->
    <p><input type="file" name="input_file" accept="text/*"></p>
</form>
<!-- конец Выставление задачи -->

{% comment %}
<p><a href="{% url 'main' %}"><font color="green">Главная</font></a></p>
<p><a href="{% url 'loggin' %}"><font color="green">Авторизация</font></a></p>
Вы вошли в личный кабинет
<p>Ваш логин: {{ lk_email }}</p>
<form action="{% url 'lk' %}" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    <button>Выход</button>
</form>

{% for datas in data %}
<div><span>{{ datas.0 }}</span></div>
<div><span>{{ datas.1 }}</span></div>
    <form action="{% url 'comment' %}" method="post">
     {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ datas.2 }}">
        <input type="hidden" name="task_id" value="{{ datas.3 }}">
        <div><span>{{ datas.6 }}: </span>дата окончания</div><br>
        <div class="coment_task">Комментарий:</div>
        <div>{{ datas.5 }}</div>
    <p><textarea type="text" name="comment" maxlength="300" cols="31" rows="5" placeholder="Комментарий"></textarea></p>
     </p><input value="Комментарий к задаче" type="submit">
</form>
{% endfor %}
</html>
{% endcomment %}
<!-- Таблица все задачи -->
    <table border="2">
        <tbody>
            <tr>
                <td>Номер</td>
                <td>Название</td>
                <td>Текст</td>
                <td>Дата создания</td>
                <td>Дата окончания</td>
                <td>Статус</td>
                <td>Посмотреть</td>
                <td>Пользователь</td>
                <td>Потраченное время</td>
            </tr>
        <p>{% for all_task_s in final_array %}</p>
            <tr><td>{{ all_task_s.0 }}</td>
            <td>{{ all_task_s.2 }}</td>
            <td>{{ all_task_s.3 }}</td>
            <td>{{ all_task_s.4 }}</td>
            <td style="color: {{ all_task_s.10 }}">{{ all_task_s.9 }}</td>
             <td>{% if  all_task_s.6 == 1 %}
            <div class="task_work">В работе</div>
            {% endif %}
                {% if  all_task_s.6 == 2 %}
            <div class="task_end">Закончена</div>
            {% endif %}
                {% if  all_task_s.6 == 3 %}
            <div class="task_cancellation">Отменена</div>
            {% endif %}
             {% if  all_task_s.6 == 4 %}
             <div class="task_no_work">Не выполнена</div>
            {% endif %}
            </td>
            {% comment %}{{ all_task_s.6 }}{% endcomment %}
            <td><a href="{% url 'taskcard' %}?task={{ all_task_s.0 }}">Подробности задачи</a></td>
            <td>{{ all_task_s.8 }}</td>
            <td>{{ all_task_s.11 }}</td></tr>
            {% endfor %}

</tbody>
</table>
<!-- конец таблицы все задачи -->
    <!--Таблица время на задачи-->
        <table border="2">
        <tbody>
            <tr>
                <td>Доолжность</td>
                <td>потраченное время</td>
                <td>оплата грн</td>
            </tr>
        <p>{% for all_array_end_s in all_array_end %}</p>
            <tr><td align="center">{{ all_array_end_s.0 }}</td>
            <td align="center">{{ all_array_end_s.1 }}</td>
            <td align="center">{{ all_array_end_s.2 }}</td>
            {% endfor %}

</tbody>
</table>
 <!-- конец таблицы время на задачи -->
<!-- кокомментарии-->
<p>{% for all_taskss in final_array %}</p>
<p><div class="coment">Коментарий: {{ all_taskss.5 }}</div></p>
<p>Ответ на коментарий:<div class="answer_coment">{{ all_taskss.7 }}</div></p>

<p>{% endfor %}</p>
{% for username_lk_s in username_lk %}
<div>{{ username_lk_s }}</div>
{% endfor %}
<!-- конец кокомментарии-->
{% with total=222222 %}
    {{ total }} employee{{ total|pluralize }}
    {% with total=23 %}{% endwith %}
{% endwith %}
    <p>Календарь {{ form.date }}</p>
<!--start datetimepicker<div id="datetimepicker3"<input id="datetimepicker3">></div>--><!---->


    <p><input id="datetimepicker" type="text" ></p>
    <button type="button" id="select_date">Выбрать день</button>

    <script>
$(function () {
    $("#datetimepicker3").datetimepicker({
      format: 'd/m/Y H:i',
      inline:true,
      lang:'ru'
    });
    let my_date = document.getElementById('datetimepicker')
    my_date.onchange = function () {
    console.log(this)
}
select_date.onclick = function () {

 let my_date = document.getElementById('datetimepicker')
    console.log(my_date.value)

   var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText)
    }
  };
  xhttp.open("GET", "/ajaxcalc?date="+my_date.value, true);
  xhttp.send();

}
  });



{% comment %}  $.ajax({
        url: 'ajaxcalc',
        type: 'get',
        data: {date_date: my_date},
        success: function (response) {
        console.log(response)
        }{{ form.date }}
jQuery('#datetimepicker3').datetimepicker({
  format:'d.m.Y H:i',
  inline:true,
  language:'ru-ru'
});{% endcomment %}

    </script>

    <!--end datetimepicker-->
{% endblock %}

