<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ lk_email }}</title>
</head>
<body>
<p><a href="{% url 'main' %}"><font color="green">Главная</font></a></p>
<p><a href="{% url 'loggin' %}"><font color="green">Авторизация</font></a></p>
Вы вошли в личный кабинет
<p>Ваш логин: {{ lk_email }}</p>
<form action="{% url 'lk' %}" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    <button>Выход</button>
</form>
<form action="{% url 'lk_task' %}" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    {% comment %}<p><input type="number" name="id_task"></input></p>{% endcomment %}
    <p><input type="text" name="title_task" maxlength="30"></input></p>
    <p><textarea type="text" name="desk_task" maxlength="300" cols="31" rows="5"></textarea></p>
      <p><select type="number" name="role" required>
      <option disabled selected value="" >Выберите </option>
          {% for task_list_users_s in task_list_users %}
                    <option value="{{ task_list_users_s.1 }}">{{ task_list_users_s.0 }}</option>


    {% endfor %} </select></p><input value="Выставить задачу" type="submit" >
</form>
{% for datas in data %}
<div><span>{{ datas.0 }}</span></div>
<div><span>{{ datas.1 }}</span></div>
{% endfor %}
</body>
</html>