<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ lk_email }}</title>
</head>
<body>
<p><a href="{% url 'main' %}"><font color="green">Главная</font></a></p>
<p><a href="{% url 'loggin' %}"><font color="green">Авторизация</font></a></p>
Вы вошли в личный кабинет
<p>Ваш логин: {{ lk_email }}</p>
<form action="{% url 'lk' %}" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    <button>Выход</button>
</form>
{% for datas in data %}
<div><span>{{ datas.0 }}</span>
<span>{{ datas.1 }}</span> </div>
{% endfor %}
</body>
</html>