<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <p><a href="{% url 'main' %}"><font color="green">Главная</font></a></p>

        <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <legend>
            Поля ввода авторизация
        </legend>

            <p>Логин: <input type="text" name="loggin" placeholder="email@example.com" required autofocus></p>
            <p>Пароль: <input type="text" name="pass" placeholder="password" required></p>
            <input value="Отправить" type="submit" >

</form>
</body>
</head>
<body>

</body>
</html>