{% load staticfiles %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ lk_email }}</title>
     <!-- jQuery -->
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script
  src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% comment %}        <style>
    .task_work {
    color: green; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .task_end {
    color: rgba(7, 72, 241, 0.91); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .task_cancellation {
    color: rgba(241, 7, 116, 0.91); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .status_task{
    color: rgba(69, 36, 206, 0.99); /* Цвет текста */
    font-size: 20px; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    text-shadow: 5px 2px 4px grey; /* Текст текста */

   }
   .coment_task{
    color: blue; /* Цвет текста */
    font-size: 20px; /* Размер текста */
    text-shadow: 5px 2px 4px grey; /* Текст текста */
   }
    </style>{% endcomment %}

   <!-- CSS  -->
    <link href="{% static "main/css/style.css" %}" rel="stylesheet">
    <style>
    .body_content{
    display: flex;
    }
    </style>
</head>

<body class="body_content">
<div id="left_content">
<p><a href="{% url 'main' %}"><font color="green">Главная</font></a></p>
<p><a href="{% url 'loggin' %}"><font color="green">Авторизация</font></a></p>
Вы вошли в личный кабинет
<p>Ваш логин: {{ lk_email }}</p>

{% block lk %}{% endblock %}

<form action="{% url 'lk' %}" method="post">
     {% csrf_token %}
    {{ form.as_p }}
    <button>Выход</button>
</form><br><br>
<form action="{% url 'comment' %}" method="post">

{% for datas in data %}

<h3><div><span>{{ datas.0 }}</span></div></h3>
<div><span>{{ datas.1 }}</span></div>
  <div><span>{{ datas.6 }}: </span>Срок сдачи</div><br>
    <div>
        {% if datas.9 %}
            прикрепленный файл: <a href="http://127.0.0.1:8000/media/{{ datas.9 }}">скачать</a>
        {% endif %}
        </div>
    <div class="coment_task">Комментарий для текущей задачи:</div>

    комент из data: {{ datas.5 }}


    {% comment %}    {{ general_arr_task.0 }}
    {% for general_arr_task_s in general_arr_task.i %}
        <p>{{ general_arr_task_s }}</p>
    {% endfor %}
   {% endcomment %}


     {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="user_id" value="{{ datas.2 }}">
    <input type="hidden" name="task_id" value="{{ datas.3 }}">
    <p><textarea type="text" name="comment" maxlength="300" cols="31" rows="5" placeholder="Комментарий"></textarea></p>
    {% if datas.4 != 2 %}
      <div><input name="time_tisk" placeholder="Время выполнения задачи" type="time" ><input type="submit" value="Отправить"></div>

    <div><input value="Комментарий к задаче" type="submit"></div>
{% endif %}

</form>
{% comment %} time task {% endcomment %}

        <form action="{% url 'lk_task' %}" method="get">

        <legend>
            <div class="status_task">Статус задачи</div>
        </legend>

            <input type="hidden" name="task_idd" value="{{ datas.3 }}">
            {% if datas.4 == 1 %}
            <div class="task_work">В работе</div>
            {% endif %}
         {% if datas.4 == 2 %}
             <div class="task_end">Закончена</div>
             <div>Потрачено времени {{ datas.7 }}</div>
            {% endif %}
         {% if datas.4 == 3 %}
            <div class="task_cancellation">Отменена</div>
            {% endif %}
                 {% if datas.4 == 4 %}
            <div class="task_cancellation">Не выполнена</div>
            {% endif %}
            {% if datas.4 != 2 %}
            <p><select type="number" name="stat_task" required>
                    <option disabled selected value="" >Статус задачи</option>
                    <option value="1">В работе</option>
                    <option value="2">Закончена</option>
                    <option value="3">Отменена</option>
                    <option value="4">Не выполнена</option>
                  </select></p>

              <input value="Изменить статус задачи" type="submit" >
        {% endif %}
        </form>
{% endfor %}

</div>
<div id="bloc_content">
    <p><input id="datetimepicker" type="text" ></p>
    <button type="button" id="select_date">Выбрать день</button>
  {% comment %}<input id="datetimepicker" type="text">{% endcomment %}

</div>
<script>
    $(function () {
        $.datetimepicker.setLocale('ru')
      $("#datetimepicker").datetimepicker({
          format:'Y-m-d'
      });
$('.xdsoft_date').click(function () {
    alert(123)
})
    });
$(function () {
    $("#datetimepicker3").datetimepicker({
      format: 'd/m/Y H:i',
      inline:true,
      lang:'ru'
    });
    let my_date = document.getElementById('datetimepicker')
    my_date.onchange = function () {
        console.log(this)
    }
});
    select_date.onclick = function () {
        let my_date = document.getElementById('datetimepicker')
        console.log(my_date.value)
        $.ajax({
        url: '/ajaxcalc',
        type: 'get',
        data: {date: my_date.value},
        success: function (response) {
        console.log(response)
            $('#bloc_content').html(response)
        }
     })
    }
</script>

    </body>

</html>
    {{% comment %} var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText)
        document.getElementById('bloc_content').innerHTML = this.responseText
    }
  };

  xhttp.open("GET", "/ajaxcalc?date="+my_date.value, true);
  xhttp.send();

}{% endcomment %}
